In [31]:
import pandas as pd

In [4]:
import pandas as pd
hospice_df = pd.read_csv("data/Hospice_General_Information.csv")
hospice_df.head(2)

,CMS Certification Number (CCN),Facility Name,Address Line 1,Address Line 2,City,State,Zip Code,County Name,PhoneNumber,CMS Region,Ownership Type,Certification Date
0,11500,BAPTIST HOSPICE,301 INTERSTATE PARK,NaN,MONTGOMERY,AL,36109,Montgomery,(334) 395-5000,4,Other,03/23/1984
1,11501,SOUTHERNCARE NEW BEACON N. BIRMINGHAM,"4735 NORREL DRIVE, SUITE 129",NaN,TRUSSVILLE,AL,35173,Jefferson,(205) 939-8799,4,For-Profit,05/24/1984

In [8]:
hospice_df = hospice_df.loc[hospice_df.State == 'TN']
hospice_df.head(2)

,CMS Certification Number (CCN),Facility Name,Address Line 1,Address Line 2,City,State,Zip Code,County Name,PhoneNumber,CMS Region,Ownership Type,Certification Date
2889,441501,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NaN,NASHVILLE,TN,37203,Davidson,(615) 327-1085,4,Non-Profit,04/10/1984
2890,441502,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",NaN,MEMPHIS,TN,38134,Shelby,(901) 516-1600,4,Non-Profit,08/31/1984

In [10]:
hospice_df.columns = ['ccn', 'facility', 'address', 'address2', 'city', 'state', 'zip', 'county', 'phone', 
                      'region', 'owner_type', 'cert_data']
hospice_df.head(2)

,ccn,facility,address,address2,city,state,zip,county,phone,region,owner_type,cert_data
2889,441501,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NaN,NASHVILLE,TN,37203,Davidson,(615) 327-1085,4,Non-Profit,04/10/1984
2890,441502,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",NaN,MEMPHIS,TN,38134,Shelby,(901) 516-1600,4,Non-Profit,08/31/1984

hospice_df.columns = ('ccn', 'facility', 'address', 'address2', 'city', 'state', 'zip', 'county', 'phone', 'region', 'owner_type', cert_data')
hospice_df.head(2)

In [11]:
hospice_df.drop(columns = ['ccn', 'address2', 'zip', 'phone'], inplace = True)

/Users/alainawillet/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [12]:
hospice_df.head()

,facility,address,city,state,county,region,owner_type,cert_data
2889,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NASHVILLE,TN,Davidson,4,Non-Profit,04/10/1984
2890,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",MEMPHIS,TN,Shelby,4,Non-Profit,08/31/1984
2891,HOSPICE OF CHATTANOOGA INC,4411 OAKWOOD DRIVE,CHATTANOOGA,TN,Hamilton,4,Non-Profit,06/30/1986
2892,AMEDISYS HOSPICE CARE,6570 STAGE ROAD SUITE 110,BARTLETT,TN,Shelby,4,For-Profit,02/09/1987
2893,NORTHCREST HOME HEALTH AND HOSPICE,212 NORTHCREST DRIVE,SPRINGFIELD,TN,Robertson,4,Other,07/13/1987

In [13]:
hospice_df.tail()

,facility,address,city,state,county,region,owner_type,cert_data
2940,ENCOMPASS HOSPICE OF TENNESSEE,828 ROYAL PARKWAY SUITE 113,NASHVILLE,TN,Davidson,4,For-Profit,06/16/2010
2941,QUALITY HOSPICE,341 WEST CENTRAL AVENUE,JAMESTOWN,TN,Fentress,4,For-Profit,01/04/2013
2942,HEARTH HOSPICE,1800A ROSSVILLE AVE SUITE 114,CHATTANOOGA,TN,Hamilton,4,For-Profit,03/22/2013
2943,"AMEDISYS HOSPICE, AN ADVENTA COMPANY",400 ROYAL PARKWAY,NASHVILLE,TN,Davidson,4,Other,01/05/2016
2944,KINDRED HOSPICE,"430 STUART RD NE, STE 2",CLEVELAND,TN,Bradley,4,For-Profit,01/04/2017

In [15]:
hospice_df.shape

(56, 8)

In [16]:
cancer_df = pd.read_csv('data/cancer_deaths.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 1: invalid start byte

In [18]:
cancer_df = pd.read_csv("data/cancer_deaths.csv", skiprows=4, nrows = 97)
cancer_df.head()

,County,FIPS,Met Healthy People Objective of 161.4?,"Age-Adjusted Death Rate - deaths per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend in Death Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
0,Tennessee,47999,No,185.4,184.0,186.8,13933,falling,-1.4,-1.5,-1.2
1,United States,0,No,163.5,163.3,163.7,586354,falling,-1.5,-1.6,-1.5
2,Trousdale County,47169,No,265.5,219.0,319.1,24,stable,0.0,-1.3,1.3
3,Scott County,47151,No,241.0,214.5,270.0,63,stable,-0.5,-1.1,0.1
4,Cheatham County,47021,No,239.6,217.8,263.0,97,stable,-0.6,-1.4,0.3

In [19]:
cancer_df.tail()

,County,FIPS,Met Healthy People Objective of 161.4?,"Age-Adjusted Death Rate - deaths per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend in Death Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
92,Van Buren County,47175,Yes,160.3,122.7,207.4,14,stable,-0.9,-2.4,0.6
93,Pickett County,47137,Yes,158.7,123.3,203.9,15,stable,-0.5,-1.8,0.9
94,Fayette County,47047,Yes,154.3,139.1,170.7,81,falling,-1.4,-2.2,-0.5
95,Williamson County,47187,Yes,127.2,119.8,134.9,239,falling,-3.8,-4.8,-2.9
96,Moore County,47127,Yes,123.2,93.9,160.5,12,falling,-2.1,-3.8,-0.4

In [21]:
cancer_df.shape

(97, 11)

In [28]:
cancer_df.columns = ['county', 'FIPS', 'met_healthy_hbjective', 
                  'age_adjusted_death_rate_per_100k', 'lower_95%_CI',
                  'Upper_95%_CI', 'avg_annual_count', 'recent_trend',
                  '5year_trend_death_rates', 'lower_95%_CI_2', 'Upper_95%_CU_2']
cancer_df.head(2)

,county,FIPS,met_healthy_hbjective,age_adjusted_death_rate_per_100k,lower_95%_CI,Upper_95%_CI,avg_annual_count,recent_trend,5year_trend_death_rates,lower_95%_CI_2,Upper_95%_CU_2
0,Tennessee,47999,No,185.4,184.0,186.8,13933,falling,-1.4,-1.5,-1.2
1,United States,0,No,163.5,163.3,163.7,586354,falling,-1.5,-1.6,-1.5

In [121]:
pop_df = pd.read_csv('data/PEP_2017_PEPAGESEX.csv', skiprows=1)
pop_df.head(2)

,Id,Id2,Geography,"April 1, 2010 - Census - Both Sexes; Total","April 1, 2010 - Census - Male; Total","April 1, 2010 - Census - Female; Total","April 1, 2010 - Estimates Base - Both Sexes; Total","April 1, 2010 - Estimates Base - Male; Total","April 1, 2010 - Estimates Base - Female; Total",Population Estimate (as of July 1) - 2010 - Both Sexes; Total,...,Population Estimate (as of July 1) - 2014 - Females; Median age (years),Population Estimate (as of July 1) - 2015 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2015 - Male; Median age (years),Population Estimate (as of July 1) - 2015 - Female; Median age (years),Population Estimate (as of July 1) - 2016 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2016 - Male; Median age (years),Population Estimate (as of July 1) - 2016 - Female; Median age (years),Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2017 - Male; Median age (years),Population Estimate (as of July 1) - 2017 - Female; Median age (years)
0,0500000US47001,47001,"Anderson County, Tennessee",75129,36308,38821,75094,36288,38806,75112,...,44.8,43.3,41.4,44.8,43.3,41.5,45.1,43.2,41.2,45.0
1,0500000US47003,47003,"Bedford County, Tennessee",45058,22357,22701,45056,22356,22700,45086,...,38.4,37.2,35.9,38.5,37.5,36.2,38.8,37.5,36.2,38.9

In [122]:
pop_df.tail()

,Id,Id2,Geography,"April 1, 2010 - Census - Both Sexes; Total","April 1, 2010 - Census - Male; Total","April 1, 2010 - Census - Female; Total","April 1, 2010 - Estimates Base - Both Sexes; Total","April 1, 2010 - Estimates Base - Male; Total","April 1, 2010 - Estimates Base - Female; Total",Population Estimate (as of July 1) - 2010 - Both Sexes; Total,...,Population Estimate (as of July 1) - 2014 - Females; Median age (years),Population Estimate (as of July 1) - 2015 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2015 - Male; Median age (years),Population Estimate (as of July 1) - 2015 - Female; Median age (years),Population Estimate (as of July 1) - 2016 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2016 - Male; Median age (years),Population Estimate (as of July 1) - 2016 - Female; Median age (years),Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2017 - Male; Median age (years),Population Estimate (as of July 1) - 2017 - Female; Median age (years)
90,0500000US47181,47181,"Wayne County, Tennessee",17021,9402,7619,17027,9404,7623,16987,...,45.8,42.6,39.8,46.5,42.7,39.9,46.7,43.1,40.0,47.4
91,0500000US47183,47183,"Weakley County, Tennessee",35021,17159,17862,35015,17157,17858,35042,...,39.2,37.6,36.0,39.2,37.9,36.2,39.6,38.3,36.6,40.1
92,0500000US47185,47185,"White County, Tennessee",25841,12640,13201,25836,12637,13199,25821,...,44.0,42.7,41.0,44.2,42.8,41.2,44.3,42.8,41.3,44.4
93,0500000US47187,47187,"Williamson County, Tennessee",183182,89336,93846,183252,89371,93881,184130,...,39.7,39.0,38.2,39.7,39.0,38.3,39.7,39.0,38.3,39.7
94,0500000US47189,47189,"Wilson County, Tennessee",113993,55834,58159,114057,55863,58194,114677,...,41.1,40.2,39.2,41.1,40.0,39.0,40.9,39.9,39.0,40.8

In [126]:
pop_df.shape

(95, 993)

In [127]:
pop_df.columns

Index(['Id', 'Id2', 'Geography', 'April 1, 2010 - Census - Both Sexes; Total',
       'April 1, 2010 - Census - Male; Total',
       'April 1, 2010 - Census - Female; Total',
       'April 1, 2010 - Estimates Base - Both Sexes; Total',
       'April 1, 2010 - Estimates Base - Male; Total',
       'April 1, 2010 - Estimates Base - Female; Total',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total',
       ...
       'Population Estimate (as of July 1) - 2014 - Females; Median age (years)',
       'Population Estimate (as of July 1) - 2015 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2015 - Male; Median age (years)',
       'Population Estimate (as of July 1) - 2015 - Female; Median age (years)',
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2016 - Male; Median age (years)',
       'Population Estimate (as of July 1) - 2016 - Female; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Male; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Female; Median age (years)'],
      dtype='object', length=993)

In [128]:
april_data = [col for col in pop_df.columns if col.startswith('April')]
pop_df = pop_df.drop(columns=april_data, axis = 1)

In [129]:
pop_df.columns

Index(['Id', 'Id2', 'Geography',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2010 - Male; Total',
       'Population Estimate (as of July 1) - 2010 - Female; Total',
       'Population Estimate (as of July 1) - 2011 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2011 - Male; Total',
       'Population Estimate (as of July 1) - 2011 - Female; Total',
       'Population Estimate (as of July 1) - 2012 - Both Sexes; Total',
       ...
       'Population Estimate (as of July 1) - 2014 - Females; Median age (years)',
       'Population Estimate (as of July 1) - 2015 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2015 - Male; Median age (years)',
       'Population Estimate (as of July 1) - 2015 - Female; Median age (years)',
       'Population Estimate (as of July 1) - 2016 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2016 - Male; Median age (years)',
       'Population Estimate (as of July 1) - 2016 - Female; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Male; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Female; Median age (years)'],
      dtype='object', length=795)

In [130]:
pop_df.shape

(95, 795)

In [131]:
april_data = [col for col in pop_df.columns if col.startswith('April')]
pop_df = pop_df.drop(april_data, axis = 1)

In [132]:
pop_df.shape

(95, 795)

In [133]:
data2015 = [col for col in pop_df.columns if '2015' in col]
pop_df = pop_df.drop(data2015, axis = 1)

In [134]:
pop_df.shape

(95, 696)

In [135]:
data2016 = [col for col in pop_df.columns if '2016' in col]
pop_df = pop_df.drop(data2016, axis =1)

In [136]:
pop_df.shape

(95, 597)

In [137]:
data2011 = [col for col in pop_df.columns if '2011' in col]
pop_df = pop_df.drop(data2011, axis = 1)

In [138]:
pop_df.shape

(95, 498)

In [139]:
data2013 = [col for col in pop_df.columns if '2013' in col]
pop_df = pop_df.drop(data2013, axis = 1)

In [140]:
pop_df.shape

(95, 399)

In [141]:
male_data = [col for col in pop_df.columns if 'Male' in col]
pop_df = pop_df.drop(male_data, axis = 1)

In [142]:
pop_df.shape

(95, 267)

In [186]:
female_data = [col for col in pop_df.columns if 'Female' in col]
pop_df = pop_df.drop(female_data, axis = 1)

In [187]:
pop_df.shape

(95, 34)

In [188]:
pop_df.columns

Index(['Geography',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)'],
      dtype='object')

In [189]:
data2012 = [col for col in pop_df.columns if '2012' in col]
pop_df = pop_df.drop(data2012, axis = 1)

In [190]:
pop_df.shape

(95, 34)

In [191]:
pop_df.columns

Index(['Geography',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)'],
      dtype='object')

In [192]:
data_under5 = [col for col in pop_df.columns if 'Under 5' in col]
pop_df = pop_df.drop(data_under5, axis = 1)

In [193]:
pop_df.shape

(95, 34)

In [194]:
data_5to9 = [col for col in pop_df.columns if '5 to 9' in col]
pop_df = pop_df.drop(data_5to9, axis = 1)

In [195]:
pop_df.shape

(95, 34)

In [196]:
data_15to44 = [col for col in pop_df.columns if '15 to 44' in col]
pop_df = pop_df.drop(data_15to44, axis = 1)

In [197]:
pop_df.shape

(95, 34)

In [198]:
pop_df.columns

Index(['Geography',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)'],
      dtype='object')

In [199]:
data_10to14 = [col for col in pop_df.columns if '10 to 14' in col]
pop_df = pop_df.drop(data_10to14, axis = 1)

In [200]:
data_15to19 = [col for col in pop_df.columns if '15 to 19' in col]
pop_df = pop_df.drop(data_15to19, axis = 1)

In [201]:
pop_df.shape

(95, 34)

In [202]:
data_20to24 = [col for col in pop_df.columns if '20 to 24' in col]
pop_df = pop_df.drop(data_20to24, axis = 1)

In [203]:
pop_df.shape

(95, 34)

In [204]:
data_25to29 = [col for col in pop_df.columns if '25 to 29' in col]
pop_df = pop_df.drop(data_25to29, axis = 1)

In [205]:
data_30to34 = [col for col in pop_df.columns if '30 to 34' in col]
pop_df = pop_df.drop(data_30to34, axis = 1)

In [206]:
data_40to44 = [col for col in pop_df.columns if '40 to 44' in col]
pop_df = pop_df.drop(data_40to44, axis = 1)

In [207]:
data_45to49 = [col for col in pop_df.columns if '45 to 49' in col]
pop_df = pop_df.drop(data_45to49, axis = 1)

In [208]:
data_under18 = [col for col in pop_df.columns if 'Under 18' in col]
pop_df = pop_df.drop(data_under18, axis = 1)

In [209]:
pop_df.shape

(95, 34)

In [210]:
pop_df.columns

Index(['Geography',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)'],
      dtype='object')

In [211]:
data_35to39 = [col for col in pop_df.columns if '35 to 39' in col]
pop_df = pop_df.drop(data_35to39, axis = 1)

In [212]:
pop_df.columns

Index(['Geography',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)'],
      dtype='object')

In [213]:
pop_df.shape

(95, 34)

In [214]:
data_18to64 = [col for col in pop_df.columns if '18 to 64 years' in col]
pop_df = pop_df.drop(data_18to64, axis = 1)

In [215]:
data_16over = [col for col in pop_df.columns if '16 years and over' in col]
pop_df = pop_df.drop(data_16over, axis = 1)

In [216]:
data_18over = [col for col in pop_df.columns if '18 years and over' in col]
pop_df = pop_df.drop(data_18over, axis = 1)

In [217]:
pop_df.columns

Index(['Geography',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)'],
      dtype='object')

In [218]:
pop_df.head

<bound method NDFrame.head of                        Geography  \
0     Anderson County, Tennessee
1      Bedford County, Tennessee
2       Benton County, Tennessee
3      Bledsoe County, Tennessee
4       Blount County, Tennessee
5      Bradley County, Tennessee
6     Campbell County, Tennessee
7       Cannon County, Tennessee
8      Carroll County, Tennessee
9       Carter County, Tennessee
10    Cheatham County, Tennessee
11     Chester County, Tennessee
12   Claiborne County, Tennessee
13        Clay County, Tennessee
14       Cocke County, Tennessee
15      Coffee County, Tennessee
16    Crockett County, Tennessee
17  Cumberland County, Tennessee
18    Davidson County, Tennessee
19     Decatur County, Tennessee
20      DeKalb County, Tennessee
21     Dickson County, Tennessee
22        Dyer County, Tennessee
23     Fayette County, Tennessee
24    Fentress County, Tennessee
25    Franklin County, Tennessee
26      Gibson County, Tennessee
27       Giles County, Tennessee
28    Grainger County, Tennessee
29      Greene County, Tennessee
..                           ...
65       Obion County, Tennessee
66     Overton County, Tennessee
67       Perry County, Tennessee
68     Pickett County, Tennessee
69        Polk County, Tennessee
70      Putnam County, Tennessee
71        Rhea County, Tennessee
72       Roane County, Tennessee
73   Robertson County, Tennessee
74  Rutherford County, Tennessee
75       Scott County, Tennessee
76  Sequatchie County, Tennessee
77      Sevier County, Tennessee
78      Shelby County, Tennessee
79       Smith County, Tennessee
80     Stewart County, Tennessee
81    Sullivan County, Tennessee
82      Sumner County, Tennessee
83      Tipton County, Tennessee
84   Trousdale County, Tennessee
85      Unicoi County, Tennessee
86       Union County, Tennessee
87   Van Buren County, Tennessee
88      Warren County, Tennessee
89  Washington County, Tennessee
90       Wayne County, Tennessee
91     Weakley County, Tennessee
92       White County, Tennessee
93  Williamson County, Tennessee
94      Wilson County, Tennessee

    Population Estimate (as of July 1) - 2010 - Both Sexes; Total  \
0                                               75112
1                                               45086
2                                               16511
3                                               12882
4                                              123213
5                                               99096
6                                               40735
7                                               13801
8                                               28448
9                                               57340
10                                              39122
11                                              17193
12                                              32216
13                                               7851
14                                              35641
15                                              52770
16                                              14588
17                                              56197
18                                             627973
19                                              11718
20                                              18695
21                                              49693
22                                              38318
23                                              38429
24                                              17920
25                                              40961
26                                              49734
27                                              29420
28                                              22721
29                                              68838
..                                                ...
65                                              31821
66                                              22094
67                                               7938
68                                               5073
69                                              16817
70                                              72569
71                                              31857
72                                              54157
73                                              66355
74                                             263747
75                                              22227
76                                              14127
77                                              89948
78                                             928552
79                                              19125
80                                              13349
81                                             156755
82                                             161199
83                                              61066
84                                               7874
85                                              18284
86                                              19118
87                                               5569
88                                              39860
89                                             123386
90                                              16987
91                                              35042
92                                              25821
93                                             184130
94                                             114677

    Population Estimate (as of July 1) - 2014 - Both Sexes; Total  \
0                                               75131
1                                               46259
2                                               16176
3                                               14419
4                                              125827
5                                              102816
6                                               39895
7                                               13614
8                                               28358
9                                               56270
10                                              39604
11                                              17101
12                                              31529
13                                               7639
14                                              35201
15                                              53521
16                                              14645
17                                              57836
18                                             670314
19                                              11680
20                                              19219
21                                              50473
22                                              37815
23                                              39031
24                                              17838
25                                              41268
26                                              49368
27                                              28824
28                                              22865
29                                              68440
..                                                ...
65                                              30815
66                                              21948
67                                               7819
68                                               5068
69                                              16685
70                                              74913
71                                              32525
72                                              52827
73                                              67869
74                                             288608
75                                              21986
76                                              14634
77                                              94570
78                                             938434
79                                              19026
80                                              13218
81                                             156513
82                                             172183
83                                              61566
84                                               7993
85                                              17905
86                                              18990
87                                               5653
88                                              39934
89                                             125736
90                                              16788
91                                              33987
92                                              26229
93                                             205213
94                                             125146

    Population Estimate (as of July 1) - 2017 - Both Sexes; Total  \
0                                               76257
1                                               48117
2                                               15986
3                                               14717
4                                              129929
5                                              105560
6                                               39648
7                                               14216
8                                               27860
9                                               56488
10                                              40330
11                                              17119
12                                              31609
13                                               7703
14                                              35556
15                                              55034
16                                              14473
17                                              59078
18                                             691243
19                                              11751
20                                              19852
21                                              52853
22                                              37463
23                                              40036
24                                              18136
25                                              41652
26                                              49111
27                                              29401
28                                              23144
29                                              68808
..                                                ...
65                                              30385
66                                              22012
67                                               7975
68                                               5073
69                                              16757
70                                              77674
71                                              32691
72                                              53036
73                                              70177
74                                             317157
75                                              21989
76                                              14736
77                                              97638
78                                             936961
79                                              19636
80                                              13355
81                                             157158
82                                             183545
83                                              61366
84                                              10083
85                                              17759
86                                              19442
87                                               5742
88                                              40651
89                                             127806
90                                              16583
91                                              33337
92                                              26753
93                                             226257
94                                             136442

    Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 50 to 54 years  \
0                                                5850
1                                                3043
2                                                1259
3                                                1005
4                                                9152
5                                                6967
6                                                2883
7                                                1093
8                                                1966
9                                                4311
10                                               3249
11                                               1112
12                                               2374
13                                                557
14                                               2784
15                                               3841
16                                               1043
17                                               3818
18                                              42340
19                                                860
20                                               1340
21                                               3829
22                                               2797
23                                               3233
24                                               1297
25                                               2990
26                                               3567
27                                               2311
28                                               1720
29                                               5196
..                                                ...
65                                               2387
66                                               1596
67                                                601
68                                                364
69                                               1254
70                                               4636
71                                               2281
72                                               4336
73                                               5057
74                                              16912
75                                               1521
76                                               1037
77                                               6759
78                                              66350
79                                               1506
80                                               1024
81                                              12017
82                                              11949
83                                               4498
84                                                605
85                                               1468
86                                               1534
87                                                465
88                                               2900
89                                               8798
90                                               1250
91                                               2282
92                                               1848
93                                              15260
94                                               8985

    Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years  \
0                                                5690
1                                                3207
2                                                1204
3                                                1216
4                                                9658
5                                                7306
6                                                2863
7                                                1080
8                                                2044
9                                                4195
10                                               3397
11                                               1132
12                                               2180
13                                                582
14                                               2758
15                                               3938
16                                               1122
17                                               3901
18                                              43565
19                                                856
20                                               1437
21                                               3872
22                                               2727
23                                               3182
24                                               1301
25                                               2982
26                                               3565
27                                               2334
28                                               1693
29                                               5108
..                                                ...
65                                               2171
66                                               1518
67                                                511
68                                                387
69                                               1274
70                                               4681
71                                               2216
72                                               4088
73                                               5349
74                                              19172
75                                               1530
76                                               1064
77                                               7121
78                                              64536
79                                               1578
80                                               1038
81                                              11716
82                                              13104
83                                               4741
84                                                599
85                                               1349
86                                               1500
87                                                414
88                                               2888
89                                               8772
90                                               1238
91                                               2210
92                                               1869
93                                              16295
94                                               9840

    Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years  \
0                                                5296
1                                                3239
2                                                1179
3                                                1185
4                                                9522
5                                                7216
6                                                2866
7                                                1081
8                                                1959
9                                                4145
10                                               3280
11                                               1090
12                                               2262
13                                                581
14                                               2618
15                                               3796
16                                               1019
17                                               3620

In [219]:
pop_df.head(2)

,Geography,Population Estimate (as of July 1) - 2010 - Both Sexes; Total,Population Estimate (as of July 1) - 2014 - Both Sexes; Total,Population Estimate (as of July 1) - 2017 - Both Sexes; Total,Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 50 to 54 years,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years,Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 55 to 59 years,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 55 to 59 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years,...,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years,Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2010 - Both Sexes; 85 years and over,Population Estimate (as of July 1) - 2014 - Both Sexes; 85 years and over,Population Estimate (as of July 1) - 2017 - Both Sexes; 85 years and over,Population Estimate (as of July 1) - 2010 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2014 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)
0,"Anderson County, Tennessee",75112,75131,76257,5850,5690,5296,5577,5689,5643,...,1785,2135,2211,2173,2135,2211,2173,42.6,43.3,43.2
1,"Bedford County, Tennessee",45086,46259,48117,3043,3207,3239,2646,2938,3143,...,811,647,679,640,647,679,640,36.5,37.2,37.5

In [220]:
data_id = [col for col in pop_df.columns if 'Id' in col]
pop_df = pop_df.drop(data_id, axis = 1)

In [221]:
pop_df.head(2)

,Geography,Population Estimate (as of July 1) - 2010 - Both Sexes; Total,Population Estimate (as of July 1) - 2014 - Both Sexes; Total,Population Estimate (as of July 1) - 2017 - Both Sexes; Total,Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 50 to 54 years,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years,Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 55 to 59 years,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 55 to 59 years,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years,...,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years,Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over,Population Estimate (as of July 1) - 2010 - Both Sexes; 85 years and over,Population Estimate (as of July 1) - 2014 - Both Sexes; 85 years and over,Population Estimate (as of July 1) - 2017 - Both Sexes; 85 years and over,Population Estimate (as of July 1) - 2010 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2014 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)
0,"Anderson County, Tennessee",75112,75131,76257,5850,5690,5296,5577,5689,5643,...,1785,2135,2211,2173,2135,2211,2173,42.6,43.3,43.2
1,"Bedford County, Tennessee",45086,46259,48117,3043,3207,3239,2646,2938,3143,...,811,647,679,640,647,679,640,36.5,37.2,37.5

In [222]:
pop_df.columns

Index(['Geography',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)'],
      dtype='object')

In [223]:
data_65over = [col for col in pop_df.columns if '65 years and over' in col]
pop_df = pop_df.drop(data_65over, axis = 1)

In [224]:
pop_df.columns

Index(['Geography',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 50 to 54 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 55 to 59 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 60 to 64 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 65 to 69 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 70 to 74 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 75 to 79 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 80 to 84 years',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Total - 85 years and over',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; 85 years and over',
       'Population Estimate (as of July 1) - 2010 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2014 - Both Sexes; Median age (years)',
       'Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years)'],
      dtype='object')

In [225]:
#pop_df.columns = ['county', 'pop2010all', 'pop2014all', 'pop2017all', 'pop2010_50to54','pop2014_50to54', 'pop2017_50to54', 'pop2010_55to59', 'pop2014_55to59', 'pop2017_55to59', 'pop2010_60to64', 'pop2014_60to64', 'pop2017_60to64', 'pop2010_65to69', 'pop2014_65to69', 'pop2017_65to69', 'pop2010_70to74', 'pop2014_70to74', 'pop2017_70to74', 'pop2010_75to79', 'pop2014_75to79', 'pop2017_75to79', 'pop2010_80to84', 'pop2014_80to84', 'pop2017_80to84', 'pop2010_85over', 'pop2014_85over', 'pop2017_85over', 'median_age_2010', 'median_age_2014', 'median_age_2017']
#hospice_df.head(2)

In [227]:
pop_df.shape

(95, 34)

In [228]:
data_85over = [col for col in pop_df.columns if 'Both Sexes; 85 years' in col]
pop_df = pop_df.drop(data_85over, axis = 1)

In [229]:
pop_df.shape

(95, 31)

In [230]:
pop_df.columns = ['county', 'pop2010all', 'pop2014all', 'pop2017all', 'pop2010_50to54','pop2014_50to54', 'pop2017_50to54', 'pop2010_55to59', 'pop2014_55to59', 'pop2017_55to59', 'pop2010_60to64', 'pop2014_60to64', 'pop2017_60to64', 'pop2010_65to69', 'pop2014_65to69', 'pop2017_65to69', 'pop2010_70to74', 'pop2014_70to74', 'pop2017_70to74', 'pop2010_75to79', 'pop2014_75to79', 'pop2017_75to79', 'pop2010_80to84', 'pop2014_80to84', 'pop2017_80to84', 'pop2010_85over', 'pop2014_85over', 'pop2017_85over', 'median_age_2010', 'median_age_2014', 'median_age_2017']
pop_df.head(2)

,county,pop2010all,pop2014all,pop2017all,pop2010_50to54,pop2014_50to54,pop2017_50to54,pop2010_55to59,pop2014_55to59,pop2017_55to59,...,pop2017_75to79,pop2010_80to84,pop2014_80to84,pop2017_80to84,pop2010_85over,pop2014_85over,pop2017_85over,median_age_2010,median_age_2014,median_age_2017
0,"Anderson County, Tennessee",75112,75131,76257,5850,5690,5296,5577,5689,5643,...,2501,1969,1779,1785,2135,2211,2173,42.6,43.3,43.2
1,"Bedford County, Tennessee",45086,46259,48117,3043,3207,3239,2646,2938,3143,...,1321,756,729,811,647,679,640,36.5,37.2,37.5

In [231]:
pop_and_cancer_df = pd.merge(pop_df, cancer_df, on =  , how = 'outer' )

SyntaxError: invalid syntax (<ipython-input-231-b66207db8b4a>, line 1)