In [2]:
import pandas as pd

In [3]:
# read in population data
pop_df = pd.read_csv('data/PEP_2017_PEPAGESEX.csv', skiprows = 1)

# drop april data
april_data = [col for col in pop_df.columns if col.startswith('April')]
pop_df = pop_df.drop(april_data, axis = 1)

# keep only 2010, 2014, 2017 data that is not gender specific
cols2010 = [col for col in pop_df.columns if (col.find('2010') != -1)]
cols2010 = [col for col in cols2010 if (col.find('Both') != -1)]
cols2014 = [col for col in pop_df.columns if (col.find('2014') != -1)]
cols2014 = [col for col in cols2014 if (col.find('Both') != -1)]
cols2017 = [col for col in pop_df.columns if (col.find('2017') != -1)]
cols2017 = [col for col in cols2017 if (col.find('Both') != -1)]

# create list of columns to keep
keep = ['Geography']
keep = keep + cols2010 + cols2014 + cols2017

# create a list of columns to drop and drop them
drop = [col for col in pop_df.columns if col not in keep]
pop_df = pop_df.drop(drop, axis = 1)


# rename columns; use throwaway names for columns we don't care about
#print(list(pop_df.columns))
pop_df.columns = ['county', 'pop2010all', 'pop2014all', 'pop2017all', 'pop2010_under5',
                 'pop2014_under5', 'pop2017_under5', 'pop2010_5to9', 'pop2014_5to9',
                 'pop2017_5to9', 'pop2010_10to14', 'pop2014_10to14',
                 'pop2017_10to14', 'pop2010_15to19', 'pop2014_15to19', 'pop2017_15to19',
                 'pop2010_20to24', 'pop2014_20to24', 'pop2017_20to24', 'pop2010_25to29',
                 'pop2014_25to29', 'pop2017_25to29', 'pop2010_30to34', 'pop2014_30to34',
                 'pop2017_30to34', 'pop2010_35to39', 'pop2014_35to39', 'pop2017_35to39',
                 'pop2010_40to44', 'pop2014_40to44', 'pop2017_40to44', 'pop2010_45to49',
                 'pop2014_45to49', 'pop2017_45to49', 'pop2010_50to54', 'pop2014_50to54',
                 'pop2017_50to54', 'pop2010_55to59', 'pop2014_55to59', 'pop2017_55to59',
                 'pop2010_60to64', 'pop2014_60to64', 'pop2017_60to64', 'pop2010_65to69',
                 'pop2014_65to69', 'pop2017_65to69', 'pop2010_70to74', 'pop2014_70to74',
                 'pop2017_70to74', 'pop2010_75to79', 'pop2014_75to79', 'pop2017_75to79',
                 'pop2010_80to84', 'pop2014_80to84', 'pop2017_80to84', 'pop2010_85over',
                 'pop2014_85over', 'pop2017_85over', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h',
                 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v',
                 'w', 'x', 'aa', 'bb', 'cc', 'dd', 'ee', 'ff', 'gg', 'hh', 'ii', 'jj', 'kk',
                 'll', 'mm', 'nn', 'oo', 'median_age_2010', 'median_age_2014',
                 'median_age_2017']

# drop the throwaway columns
pop_df = pop_df.drop(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n',
                     'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'aa', 'bb', 'cc',
                     'dd', 'ee', 'ff', 'gg', 'hh', 'ii', 'jj', 'kk', 'll', 'mm', 'nn', 'oo'],
                    axis = 1)

# cleanup - drop columns for under 50
pop_df = pop_df.drop(['pop2010_under5',
       'pop2014_under5', 'pop2017_under5', 'pop2010_5to9', 'pop2014_5to9',
       'pop2017_5to9', 'pop2010_10to14', 'pop2014_10to14', 'pop2017_10to14',
       'pop2010_15to19', 'pop2014_15to19', 'pop2017_15to19', 'pop2010_20to24',
       'pop2014_20to24', 'pop2017_20to24', 'pop2010_25to29', 'pop2014_25to29',
       'pop2017_25to29', 'pop2010_30to34', 'pop2014_30to34', 'pop2017_30to34',
       'pop2010_35to39', 'pop2014_35to39', 'pop2017_35to39', 'pop2010_40to44',
       'pop2014_40to44', 'pop2017_40to44', 'pop2010_45to49', 'pop2014_45to49',
       'pop2017_45to49'], axis = 1)

In [4]:
pop_df.columns = ['county', 'pop2010all', 'pop2014all', 'pop2017all', 'pop2010_50to54','pop2014_50to54', 'pop2017_50to54', 'pop2010_55to59', 'pop2014_55to59', 'pop2017_55to59', 'pop2010_60to64', 'pop2014_60to64', 'pop2017_60to64', 'pop2010_65to69', 'pop2014_65to69', 'pop2017_65to69', 'pop2010_70to74', 'pop2014_70to74', 'pop2017_70to74', 'pop2010_75to79', 'pop2014_75to79', 'pop2017_75to79', 'pop2010_80to84', 'pop2014_80to84', 'pop2017_80to84', 'pop2010_85over', 'pop2014_85over', 'pop2017_85over', 'median_age_2010', 'median_age_2014', 'median_age_2017']
pop_df.head(2)

,county,pop2010all,pop2014all,pop2017all,pop2010_50to54,pop2014_50to54,pop2017_50to54,pop2010_55to59,pop2014_55to59,pop2017_55to59,...,pop2017_75to79,pop2010_80to84,pop2014_80to84,pop2017_80to84,pop2010_85over,pop2014_85over,pop2017_85over,median_age_2010,median_age_2014,median_age_2017
0,"Anderson County, Tennessee",75112,75131,76257,5850,5690,5296,5577,5689,5643,...,2501,1969,1779,1785,2135,2211,2173,42.6,43.3,43.2
1,"Bedford County, Tennessee",45086,46259,48117,3043,3207,3239,2646,2938,3143,...,1321,756,729,811,647,679,640,36.5,37.2,37.5

In [5]:
# remove state from pop_df.county
pop_df.county = pop_df.county.str.replace(', Tennessee', '')
pop_df.head(2)

,county,pop2010all,pop2014all,pop2017all,pop2010_50to54,pop2014_50to54,pop2017_50to54,pop2010_55to59,pop2014_55to59,pop2017_55to59,...,pop2017_75to79,pop2010_80to84,pop2014_80to84,pop2017_80to84,pop2010_85over,pop2014_85over,pop2017_85over,median_age_2010,median_age_2014,median_age_2017
0,Anderson County,75112,75131,76257,5850,5690,5296,5577,5689,5643,...,2501,1969,1779,1785,2135,2211,2173,42.6,43.3,43.2
1,Bedford County,45086,46259,48117,3043,3207,3239,2646,2938,3143,...,1321,756,729,811,647,679,640,36.5,37.2,37.5

In [7]:
cancer_df = pd.read_csv("data/cancer_deaths.csv", skiprows=4, nrows = 97)
cancer_df.head()

,County,FIPS,Met Healthy People Objective of 161.4?,"Age-Adjusted Death Rate - deaths per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend in Death Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
0,Tennessee,47999,No,185.4,184.0,186.8,13933,falling,-1.4,-1.5,-1.2
1,United States,0,No,163.5,163.3,163.7,586354,falling,-1.5,-1.6,-1.5
2,Trousdale County,47169,No,265.5,219.0,319.1,24,stable,0.0,-1.3,1.3
3,Scott County,47151,No,241.0,214.5,270.0,63,stable,-0.5,-1.1,0.1
4,Cheatham County,47021,No,239.6,217.8,263.0,97,stable,-0.6,-1.4,0.3

In [9]:
cancer_df.columns = ['county', 'FIPS', 'met_healthy_hbjective', 
                  'age_adjusted_death_rate_per_100k', 'lower_95%_CI',
                  'Upper_95%_CI', 'avg_annual_count', 'recent_trend',
                  '5year_trend_death_rates', 'lower_95%_CI_2', 'Upper_95%_CU_2']
cancer_df.head(2)

,county,FIPS,met_healthy_hbjective,age_adjusted_death_rate_per_100k,lower_95%_CI,Upper_95%_CI,avg_annual_count,recent_trend,5year_trend_death_rates,lower_95%_CI_2,Upper_95%_CU_2
0,Tennessee,47999,No,185.4,184.0,186.8,13933,falling,-1.4,-1.5,-1.2
1,United States,0,No,163.5,163.3,163.7,586354,falling,-1.5,-1.6,-1.5

In [10]:
pop_and_cancer = pd.merge(pop_df, cancer_df, on = 'county', how = 'outer')
pop_and_cancer.head(2)

,county,pop2010all,pop2014all,pop2017all,pop2010_50to54,pop2014_50to54,pop2017_50to54,pop2010_55to59,pop2014_55to59,pop2017_55to59,...,FIPS,met_healthy_hbjective,age_adjusted_death_rate_per_100k,lower_95%_CI,Upper_95%_CI,avg_annual_count,recent_trend,5year_trend_death_rates,lower_95%_CI_2,Upper_95%_CU_2
0,Anderson County,75112.0,75131.0,76257.0,5850.0,5690.0,5296.0,5577.0,5689.0,5643.0,...,47001,No,180.6,169.1,192.7,195,falling,-0.7,-1.2,-0.2
1,Bedford County,45086.0,46259.0,48117.0,3043.0,3207.0,3239.0,2646.0,2938.0,3143.0,...,47003,No,182.7,166.1,200.6,92,falling,-0.7,-1.4,-0.1

In [11]:
pop_and_cancer.county = pop_and_cancer.county.str.replace(' County', '')

In [13]:
hospice_df = pd.read_csv("data/Hospice_General_Information.csv")
hospice_df.head(2)

,CMS Certification Number (CCN),Facility Name,Address Line 1,Address Line 2,City,State,Zip Code,County Name,PhoneNumber,CMS Region,Ownership Type,Certification Date
0,11500,BAPTIST HOSPICE,301 INTERSTATE PARK,NaN,MONTGOMERY,AL,36109,Montgomery,(334) 395-5000,4,Other,03/23/1984
1,11501,SOUTHERNCARE NEW BEACON N. BIRMINGHAM,"4735 NORREL DRIVE, SUITE 129",NaN,TRUSSVILLE,AL,35173,Jefferson,(205) 939-8799,4,For-Profit,05/24/1984

In [14]:
hospice_df = hospice_df.loc[hospice_df.State == 'TN']
hospice_df.head(2)

,CMS Certification Number (CCN),Facility Name,Address Line 1,Address Line 2,City,State,Zip Code,County Name,PhoneNumber,CMS Region,Ownership Type,Certification Date
2889,441501,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NaN,NASHVILLE,TN,37203,Davidson,(615) 327-1085,4,Non-Profit,04/10/1984
2890,441502,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",NaN,MEMPHIS,TN,38134,Shelby,(901) 516-1600,4,Non-Profit,08/31/1984

In [15]:
hospice_df.columns = ['ccn', 'facility', 'address', 'address2', 'city', 'state', 'zip', 'county', 'phone', 
                      'region', 'owner_type', 'cert_data']
hospice_df.head(2)

,ccn,facility,address,address2,city,state,zip,county,phone,region,owner_type,cert_data
2889,441501,ALIVE HOSPICE INC,1718 PATTERSON ROAD,NaN,NASHVILLE,TN,37203,Davidson,(615) 327-1085,4,Non-Profit,04/10/1984
2890,441502,METHODIST ALLIANCE HOSPICE,"6400 SHELBY VIEW DRIVE, SUITE 101",NaN,MEMPHIS,TN,38134,Shelby,(901) 516-1600,4,Non-Profit,08/31/1984

In [16]:
hospice_df.drop(columns = ['ccn', 'address2', 'zip', 'phone'], inplace = True)

In [17]:
hospice_per_county = hospice_df.county.value_counts().to_dict()

In [19]:
for county in pop_and_cancer.county:
    if county in hospice_per_county:
        continue
    else:
        hospice_per_county[county] = 0

In [20]:
pop_and_cancer['hospice_count'] = [hospice_per_county[county] for county in pop_and_cancer.county]

In [21]:
pop_and_cancer.drop(pop_and_cancer.index[95:97], inplace = True)

In [22]:
pop_and_cancer.describe()

,pop2010all,pop2014all,pop2017all,pop2010_50to54,pop2014_50to54,pop2017_50to54,pop2010_55to59,pop2014_55to59,pop2017_55to59,pop2010_60to64,...,median_age_2017,FIPS,age_adjusted_death_rate_per_100k,lower_95%_CI,Upper_95%_CI,avg_annual_count,5year_trend_death_rates,lower_95%_CI_2,Upper_95%_CU_2,hospice_count
count,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,...,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000,95.000000
mean,66904.021053,68842.178947,70694.568421,4841.315789,4893.094737,4725.642105,4394.715789,4695.926316,4786.389474,3936.094737,...,42.227368,47095.000000,195.872632,175.560000,218.483158,146.694737,-0.696842,-1.534737,0.162105,0.589474
std,125893.866158,130411.224371,133087.373795,8882.143047,8879.997900,8364.067423,7931.421146,8499.962005,8472.943999,6478.377453,...,3.565450,55.136195,23.583566,20.600555,30.131311,236.906035,0.996852,1.600450,0.786884,1.267387
min,5073.000000,5068.000000,5073.000000,364.000000,387.000000,376.000000,385.000000,364.000000,394.000000,433.000000,...,30.800000,47001.000000,123.200000,93.900000,134.900000,12.000000,-6.700000,-13.800000,-2.900000,0.000000
25%,18102.000000,17871.500000,17632.000000,1318.500000,1289.500000,1267.000000,1273.000000,1294.000000,1270.500000,1233.500000,...,39.700000,47048.000000,181.050000,166.450000,199.250000,47.500000,-0.950000,-1.550000,-0.300000,0.000000
50%,31821.000000,31250.000000,31609.000000,2282.000000,2210.000000,2178.000000,2183.000000,2209.000000,2218.000000,2080.000000,...,42.800000,47095.000000,194.900000,176.000000,215.500000,82.000000,-0.600000,-1.200000,0.200000,0.000000
75%,56534.500000,56319.000000,56473.500000,4279.500000,4141.500000,4093.000000,3836.500000,4105.500000,4258.500000,4012.500000,...,44.700000,47142.000000,211.300000,186.950000,239.400000,144.500000,-0.200000,-1.000000,0.550000,1.000000
max,928552.000000,938434.000000,936961.000000,66350.000000,64536.000000,59532.000000,59228.000000,62411.000000,60997.000000,47519.000000,...,51.400000,47189.000000,265.500000,219.000000,319.100000,1767.000000,1.300000,0.300000,2.300000,8.000000

In [23]:
pop_and_cancer.nlargest(5, 'age_adjusted_death_rate_per_100k')

,county,pop2010all,pop2014all,pop2017all,pop2010_50to54,pop2014_50to54,pop2017_50to54,pop2010_55to59,pop2014_55to59,pop2017_55to59,...,met_healthy_hbjective,age_adjusted_death_rate_per_100k,lower_95%_CI,Upper_95%_CI,avg_annual_count,recent_trend,5year_trend_death_rates,lower_95%_CI_2,Upper_95%_CU_2,hospice_count
84,Trousdale,7874.0,7993.0,10083.0,605.0,599.0,639.0,562.0,597.0,616.0,...,No,265.5,219.0,319.1,24,stable,0.0,-1.3,1.3,0
75,Scott,22227.0,21986.0,21989.0,1521.0,1530.0,1558.0,1446.0,1464.0,1426.0,...,No,241.0,214.5,270.0,63,stable,-0.5,-1.1,0.1,0
10,Cheatham,39122.0,39604.0,40330.0,3249.0,3397.0,3280.0,2723.0,2974.0,3224.0,...,No,239.6,217.8,263.0,97,stable,-0.6,-1.4,0.3,0
12,Claiborne,32216.0,31529.0,31609.0,2374.0,2180.0,2262.0,2361.0,2359.0,2218.0,...,No,237.3,216.4,259.8,100,stable,-0.1,-0.7,0.4,1
33,Hancock,6802.0,6624.0,6600.0,549.0,480.0,451.0,522.0,529.0,513.0,...,No,236.2,193.1,287.1,22,stable,0.4,-0.8,1.6,1

In [24]:
pop_and_cancer.loc[pop_and_cancer.hospice_count > 2]

,county,pop2010all,pop2014all,pop2017all,pop2010_50to54,pop2014_50to54,pop2017_50to54,pop2010_55to59,pop2014_55to59,pop2017_55to59,...,met_healthy_hbjective,age_adjusted_death_rate_per_100k,lower_95%_CI,Upper_95%_CI,avg_annual_count,recent_trend,5year_trend_death_rates,lower_95%_CI_2,Upper_95%_CU_2,hospice_count
18,Davidson,627973.0,670314.0,691243.0,42340.0,43565.0,40889.0,37772.0,41623.0,41751.0,...,No,184.7,179.8,189.7,1137,falling,-1.5,-1.7,-1.2,8
32,Hamilton,337262.0,350602.0,361613.0,25237.0,24725.0,23736.0,23644.0,24948.0,24791.0,...,No,172.6,167.0,178.3,743,stable,0.1,-1.5,1.8,5
46,Knox,432972.0,447939.0,461860.0,30819.0,31248.0,29955.0,28163.0,29577.0,29921.0,...,No,177.4,172.1,182.8,890,falling,-1.0,-1.2,-0.8,5
78,Shelby,928552.0,938434.0,936961.0,66350.0,64536.0,59532.0,59228.0,62411.0,60997.0,...,No,195.0,190.8,199.2,1767,falling,-1.1,-1.2,-1.0,5

In [25]:
pop_and_cancer['over_50_2010'] = pop_and_cancer['pop2010_50to54'] + pop_and_cancer['pop2010_55to59'] + pop_and_cancer['pop2010_60to64'] + pop_and_cancer['pop2010_65to69'] + pop_and_cancer['pop2010_70to74']
+ pop_and_cancer['pop2010_75to79'] + pop_and_cancer['pop2010_80to84'] + pop_and_cancer['pop2010_85over']

0      6380.0
1      2395.0
2      1338.0
3       756.0
4      8408.0
5      5823.0
6      2827.0
7       945.0
8      2332.0
9      4113.0
10     1605.0
11     1146.0
12     2027.0
13      614.0
14     2365.0
15     3706.0
16     1075.0
17     5977.0
18    30458.0
19     1060.0
20     1229.0
21     2718.0
22     2362.0
23     2190.0
24     1124.0
25     3104.0
26     3965.0
27     2070.0
28     1345.0
29     4929.0
       ...
65     2317.0
66     1480.0
67      621.0
68      457.0
69     1126.0
70     4666.0
71     2033.0
72     4422.0
73     3217.0
74     8699.0
75     1221.0
76      806.0
77     5382.0
78    42865.0
79     1067.0
80      896.0
81    13041.0
82     8236.0
83     2670.0
84      449.0
85     1630.0
86      962.0
87      349.0
88     2606.0
89     8289.0
90     1158.0
91     2497.0
92     1978.0
93     7430.0
94     5323.0
Length: 95, dtype: float64

In [26]:
pop_and_cancer['over_50_2014'] = pop_and_cancer['pop2014_50to54'] + pop_and_cancer['pop2014_55to59'] + pop_and_cancer['pop2014_60to64'] + pop_and_cancer['pop2014_65to69'] + pop_and_cancer['pop2014_70to74']
+ pop_and_cancer['pop2014_75to79'] + pop_and_cancer['pop2014_80to84'] + pop_and_cancer['pop2014_85over']
pop_and_cancer['over_50_2014']

0      24468.0
1      12809.0
2       5838.0
3       4780.0
4      41118.0
5      29576.0
6      12991.0
7       4348.0
8       8949.0
9      18959.0
10     12272.0
11      4756.0
12     10328.0
13      2701.0
14     12296.0
15     15947.0
16      4398.0
17     22094.0
18    164072.0
19      4087.0
20      6132.0
21     15022.0
22     11241.0
23     13945.0
24      6236.0
25     13307.0
26     14496.0
27      9727.0
28      7660.0
29     23117.0
        ...
65      9967.0
66      7164.0
67      2628.0
68      1926.0
69      5663.0
70     20428.0
71     10080.0
72     19187.0
73     19688.0
74     65702.0
75      6434.0
76      4859.0
77     30989.0
78    245694.0
79      6070.0
80      4476.0
81     52637.0
82     50128.0
83     17301.0
84      2489.0
85      6302.0
86      6269.0
87      2134.0
88     12038.0
89     37504.0
90      5217.0
91      9666.0
92      8446.0
93     57314.0
94     37834.0
Name: over_50_2014, Length: 95, dtype: float64

In [30]:
pop_and_cancer['over_50_2017'] = pop_and_cancer['pop2017_50to54'] + pop_and_cancer['pop2017_55to59'] + pop_and_cancer['pop2017_60to64'] + pop_and_cancer['pop2017_65to69'] + pop_and_cancer['pop2017_70to74']
+ pop_and_cancer['pop2017_75to79'] + pop_and_cancer['pop2017_80to84'] + pop_and_cancer['pop2017_85over']

0      6459.0
1      2772.0
2      1550.0
3      1041.0
4     10388.0
5      7293.0
6      3350.0
7      1056.0
8      2355.0
9      5149.0
10     2018.0
11     1238.0
12     2393.0
13      791.0
14     2816.0
15     4046.0
16     1168.0
17     7565.0
18    32629.0
19     1186.0
20     1394.0
21     3283.0
22     2588.0
23     3194.0
24     1401.0
25     3371.0
26     3876.0
27     2379.0
28     1737.0
29     5944.0
       ...
65     2543.0
66     1765.0
67      697.0
68      567.0
69     1400.0
70     5272.0
71     2371.0
72     4993.0
73     3866.0
74    11755.0
75     1427.0
76     1111.0
77     7023.0
78    47366.0
79     1201.0
80     1045.0
81    14619.0
82    11023.0
83     3300.0
84      529.0
85     1795.0
86     1319.0
87      478.0
88     2947.0
89     9490.0
90     1318.0
91     2621.0
92     2221.0
93    10850.0
94     7658.0
Length: 95, dtype: float64

In [31]:
pop_and_cancer['percent_pop_over_50_2017'] = pop_and_cancer['over_50_2017'] / pop_and_cancer['pop2017all']

In [32]:
pop_and_cancer.loc[pop_and_cancer.percent_pop_over_50_2017 > 0.50]

Empty DataFrame
Columns: [county, pop2010all, pop2014all, pop2017all, pop2010_50to54, pop2014_50to54, pop2017_50to54, pop2010_55to59, pop2014_55to59, pop2017_55to59, pop2010_60to64, pop2014_60to64, pop2017_60to64, pop2010_65to69, pop2014_65to69, pop2017_65to69, pop2010_70to74, pop2014_70to74, pop2017_70to74, pop2010_75to79, pop2014_75to79, pop2017_75to79, pop2010_80to84, pop2014_80to84, pop2017_80to84, pop2010_85over, pop2014_85over, pop2017_85over, median_age_2010, median_age_2014, median_age_2017, FIPS, met_healthy_hbjective, age_adjusted_death_rate_per_100k, lower_95%_CI, Upper_95%_CI, avg_annual_count, recent_trend, 5year_trend_death_rates, lower_95%_CI_2, Upper_95%_CU_2, hospice_count, over_50_2010, over_50_2014, over_50_2017, percent_pop_over_50_2017]
Index: []

[0 rows x 46 columns]